@model FamousQuoteQuizGame.Models.ErrorViewModel

@{
    ViewBag.Title = "_ErrorPage";
    Layout = "_Layout.cshtml";
}

<div class="error-container">
    <p>@Model.Reason</p>
    <p>@Model.Advice</p>
</div>

