
<div class="home-container">
    <h1>Guess the Author</h1>
    <p>
        The game can be played after registering at the site.
    </p>
    <p>
        The player has to guess a correct author of the quote.
    </p>
    <p>
        There are  2 (two) game modes. In a first one player should pick the correct author of the quote with "YES" or "NO", and in a second one out of three.
    </p>
    <p>
        Also for the most playful has a ranking (top @ViewBag.MaxStandingList), which displays the username, total number of correct answers, total number of games and success rate. To be included in the ranking, a player must have @ViewBag.MinAttempts attempts to guess the correct author.
    </p>
    <p>
        Each player may add three quotes per day.
    </p>
</div>



