/*/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

textarea {
    height: 200px;
}

/*#registerLink, #loginLink {
    color: dimgray !important;
}*/

/*#logoutForm > ul > li > a, .navbar-collapse > .navbar-nav > li > a {
    color: black;
}

#logoutForm > ul > li > a:hover{
    color: white;
}

.navbar {
    background-color: hsl(240, 100%, 80%);
}

#overrideCss.navbar-brand {
    color: black;
    margin-right: 10px;
}

#overrideCss.navbar-brand:hover {
    color: white;
}*/

/*********** HEAD-NAV ***********/
body, div, p, a, header, li, ul, ol{
    margin: 0;
    padding: 0;
}

#main-nav {
    padding: 25px 15%;
    background-color: blue;
    font-size: 3rem;
    clear: both;
    overflow: auto;
}

a{
    text-decoration: none !important;
    color: white;
    padding: 5px 10px;
    overflow: auto;
    word-wrap:break-word;
}

a:hover{
    background-color: white;
    color: blue;
    border-radius: 5px;
}

.capitalize{
    text-transform: capitalize;
}

.my-icon {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

#main-nav > div, #main-nav ul > li{
    display: inline-block;
    margin: 0 10px;
}

#main-menu{
    float: left;
}

#login-menu{
    float: right;
}


/**** media main nav ******/
@media screen and (max-width: 850px) {

    #main-nav > div {
        display: block;
        float: none;
        margin: 10px auto;
        text-align: center;
    }
}

@media screen and (max-width: 712px) {
    #main-menu .nav-list .nav-link {
        display: block;
    }
}

@media screen and (max-width: 480px) {

    #main-nav > div {
        display: inline-block;
    }

    li {
        transition: 1.5s;
        font-size: 2rem;
    }

    .nav-link {
        visibility: hidden;
        display: none;
        position: absolute;
        left: -9999px;
    }

    .my-icon {
        visibility: visible;
        position: static;
    }

    .nav-list:hover li {
        visibility: visible;
        position: static;
        display: block;
    }

    #main-menu .nav-list:hover .nav-link{
        display: block;
        margin: 0;
        padding: 0;
    }

    #login-menu .nav-list:hover .nav-link{
        display: block;
        margin: 0;
        padding: 0;
    }

    .nav-list:hover .my-icon {
        visibility: hidden;
        display: block;
        position: absolute;
        left: -9999px;
    }

    #main-menu {
        float: left;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    #main-nav > #main-menu {
        text-align: left;
        float: left;
    }

    #main-nav > #login-menu {
        text-align: right;
        float: right;
    }
}


/*********** global *************/

.positive {
    background-color: limegreen;
}
.positive:hover {
    background-color: greenyellow;
}

.negative {
    background-color: pink;
}

.negative:hover {
    background-color: red;
    cursor: pointer;
}


/*********** HOME PAGE *************/

.home-container {
    font-size: 24px;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
    border: 1px solid black;
    color: white;
    background-color: blue;
    border-radius: 8px;
}

.home-container > h1 {
    margin-bottom: 20px;
}

/**************************/
.container {
    overflow: auto;
}

.game-container {
    width: 600px;
    margin: 0 auto;
    background-color: lightblue;
    padding: 10px;
    overflow: auto;
}

#game-option {
    padding: 10px;
    clear: both;
    overflow: auto;
    background-color: hsl(125, 80%,85%)
}

#game-option, .game-container, #game-option > div {
    border-radius: 7px;
}

#game-option > div {
    display: inline-block;
    width: 47%;
}

#game-option > div:hover {
    background-color: red;
    cursor: pointer;
}

.game-binary {
    float: left;
    text-align: center;
}

.game-multiple {
    float: right;
    text-align: center;
}

.icon-container {
    text-align: center;
}

.icon-container > span {
    font-size: 3rem;
}

.binary-answer {
    border: 1px solid black;
    font-size: 4rem;
    border-radius: 10px;
}

.right-answer {
    float: left;
}

.wrong-answer {
    float: right;
}

.binary-quote-view {
    margin-bottom: 50px;
    text-align: center;
}

.binary-submit {
    clear: both;
    padding: 0 15px;
    text-align: center;
}

.play-mode-question {
    font-size: 2rem;
}

.play-mode-question, .possible-author, .binary-submit {
    background-color: hsl(220, 90%, 90%);
    border-radius: 15px;
    margin: 15px 15%;
    padding: 10px;
    overflow: auto;
}

.possible-author {
    overflow: auto;
}

.right-answer-binary, .right-answer-binary-support {
    text-align: center;
}

.right-answer-binary {
    font-size: 3rem;
}

/**** multi answer *****/

.multi-answer, .gray-effect {
    background-color: dimgrey;
    margin: 5px;
    border: none;
    color: lightgrey;
    border-radius: 5px;
}

.multi-answer:hover, .gray-effect:hover {
    background-color: lightgrey;
    color: dimgrey;
}
/**************** binary answer *******************/

.continue {
    font-size: 2rem;
}


/*---------   option menu  ------------*/
.set-mode {
    font-size: 1.5rem;
}

div.set-mode {
    margin-top: 20px;
}

.set-mode[name="submit"] {
    font-size: 2rem;
    margin-top: 20px; 
}

.set-mode > input {
    display: inline-block;
}

/************** Add quote form ****************/



div.add-quote {

    font-size: 34px;
    width: 50%;
    margin: 10px auto;
    border-radius: 15px;
    padding: 10px;
    background-color: lightskyblue;
    text-align: center;
    font-size: 2rem;
}

.input-new-quote, .input-quote-author {
    background-color: hsl(120, 50%, 90%);
    border-radius: 7px;
    padding: 0 10px;
    margin-bottom: 20px;
    width: 90%;
}

.input-quote-author {
    height: 30px;
}

.add-quote-submit > div {
    display: inline-block;
}

.add-quote-submit > div > input, .add-quote-submit > div > a {
    line-height: normal;
    padding: 10px;
    margin: 0 10px;
    font-size: 4rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.add-quote-submit > div > input:hover {
    background-color: limegreen;
}

.add-quote-submit > div > a:hover {
    background-color: red;
}


/*************** ERROR ***********/

#error-container {
    background:#0000aa;
    color:#ffffff;
    font-family:courier;
    font-size:12pt;
    text-align:center;
    margin:100px;
    padding: 15px;
}

.neg {
    background:#fff;
    color:#0000aa;
    padding:2px 8px;
    font-weight:bold;
}

#error-container p {
    margin:30px 100px;
    text-align:left;
}

 #error-container a:hover {
    color:#0000aa;
    font:inherit;
}

.menu {
    text-align:center;
    margin-top:50px;
}
