/*/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#registerLink, #loginLink {
    color: dimgray !important;
}*/

/*#logoutForm > ul > li > a, .navbar-collapse > .navbar-nav > li > a {
    color: black;
}

#logoutForm > ul > li > a:hover{
    color: white;
}

.navbar {
    background-color: hsl(240, 100%, 80%);
}

#overrideCss.navbar-brand {
    color: black;
    margin-right: 10px;
}

#overrideCss.navbar-brand:hover {
    color: white;
}*/

/*********** HEAD-NAV ***********/
body, div, p, a, header, li, ul, ol{
    margin: 0;
    padding: 0;
}

#main-nav {
    padding: 25px 15%;
    background-color: blue;
    font-size: 3rem;
    clear: both;
    overflow: auto;
    
}

a{
    text-decoration: none !important;
    color: white;
    padding: 5px 10px;
}

a:hover{
    background-color: white;
    color: blue;
    border-radius: 5px;
}

.capitalize{
    text-transform: capitalize;
}

#main-nav > div, #main-nav ul > li{
    display: inline-block;
    margin: 0 10px;
}

#main-menu{
    float: left;
}

#login-menu{
    float: right;
}

/**** media main nav ******/
@media screen and (max-width: 850px) {

    #main-nav > div {
        display: block;
        float: none;
        margin: 10px auto;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    #main-nav ul > li {
        display: block;
        margin: 10px auto;
        text-align: center;
    }

    a{
        overflow: auto;
        word-wrap:break-word;
    }
}


/*********** global *************/

.positive {
    background-color: limegreen;
}
.positive:hover {
    background-color: greenyellow;
}

.negative {
    background-color: pink;
}

.negative:hover {
    background-color: red;
    cursor: pointer;
}
/************************/


.container {
    overflow: auto;
}

.game-container {
    width: 500px;
    margin: 0 auto;
    background-color: lightcyan;
    padding: 10px;
    overflow: auto;
}

#game-option {
    padding: 10px;
    clear: both;
    overflow: auto;
    background-color: hsl(125, 80%,85%)
}

#game-option, .game-container, #game-option > div {
    border-radius: 7px;
}

#game-option > div {
    display: inline-block;
    width: 47%;
}

#game-option > div:hover {
    background-color: red;
    cursor: pointer;
}

.game-binary {
    float: left;
    text-align: center;
}

.game-multiple {
    float: right;
    text-align: center;
}

.icon-container {
    text-align: center;
}

.icon-container > span {
    font-size: 3rem;
}

.binary-answer {
    border: 1px solid black;
    font-size: 4rem;
    border-radius: 10px;
}

.right-answer {
    float: left;
}

.wrong-answer {
    float: right;
}

.binary-quote-view {
    margin-bottom: 50px;
    text-align: center;
}

.binary-submit {
    clear: both;
    padding: 0 15px;
    text-align: center;
}

.play-mode-question {
    font-size: 2rem;
}

.play-mode-question, .possible-author, .binary-submit {
    background-color: hsl(220, 90%, 90%);
    border-radius: 15px;
    margin: 15px 15%;
    padding: 10px;
    overflow: auto;
}

.possible-author {
    overflow: auto;
}

.right-answer-binary, .right-answer-binary-support {
    text-align: center;
}

.right-answer-binary {
    font-size: 3rem;
}

/**** multi answer *****/

.multi-answer, .gray-effect {
    background-color: dimgrey;
    margin: 5px;
    border: none;
    color: lightgrey;
    border-radius: 5px;
}

.multi-answer:hover, .gray-effect:hover {
    background-color: lightgrey;
    color: dimgrey;
}
/**************** binary answer *******************/

.continue {
    font-size: 2rem;
}


/*---------   option menu  ------------*/
.set-mode {
    font-size: 1.5rem;
}

div.set-mode {
    margin-top: 20px;
}

.set-mode[name="submit"] {
    font-size: 2rem;
    margin-top: 20px; 
}

.set-mode > input {
    display: inline-block;
}

/************** Add quote form ****************/

div.add-quote {
    
    width: 80%;
    margin: 10px auto;
    border-radius: 15px;
    padding: 10px;
    background-color: lightcyan;
}

.input-new-quote, .input-quote-author {
    background-color: hsl(120, 50%, 90%);
    border-radius: 7px;
    padding: 0 10px;
    margin-bottom: 20px;
    width: 90%;
}

.input-quote-author {
    height: 30px;
}

.add-quote-submit > div {
    display: inline-block;
}

.left-button {
    margin-left: 30px;
}

.right-button {
    margin-left: 20px;
}

.custom-button {
    padding: 16px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: pink;
    
}

.custom-button:hover, .cancel-button > a:hover, .submit-new-quote:hover {
    background-color: yellowgreen;
    color: blueviolet;
}

.cancel-button, .cancel-button > a, .submit-new-quote {
    text-decoration: none !important;
    font-size: 2rem;
    background-color: rgba(12, 12, 12, 0);
    color: White;
    border: none;
}

.add-quote-submit {
    width: 26%;
}

/*************** ERROR ***********/

#error-container, .error-container {
    background:#0000aa;
    color:#ffffff;
    font-family:courier;
    font-size:12pt;
    text-align:center;
    margin:100px;
}

.neg {
    background:#fff;
    color:#0000aa;
    padding:2px 8px;
    font-weight:bold;
}

#error-container p {
    margin:30px 100px;
    text-align:left;
}

#error-container a, #error-container a:hover {
    color:inherit;
    font:inherit;
}

.menu {
    text-align:center;
    margin-top:50px;
}
